/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Bruno Ace SC", serif;
  line-height: 1.5;
}
.bg-black {
  background-color: #000;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
}
.nav ul {
  display: flex;
  justify-content: space-between;
}
.nav a {
  display: block;
  text-decoration: none;
  color: #d1d1d1;
}
.header {
  display: flex;
  justify-content: center;
}
.header img {
  max-width: 50%;
}
.header-title {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title_1 {
  font-size: 128px;
  color: #00ffa3;
}
.title_2 {
  font-size: 64px;
  color: #ffffff;
}
.text-r {
  text-align: right;
}
.text-breakword {
  word-wrap: break-word;
}
.w-100 {
  width: 100%;
}
.contact {
  display: flex;
  flex-direction: row-reverse;
}
.btn {
  display: block;
  text-decoration: none;
  padding: 12px 24px;
  background-color: #ffffff;
  border-radius: 32px;
  color: #000000;
}
.mr24 {
  margin-right: 24px;
}
.mb72 {
  margin-bottom: 72px;
}
.pt20 {
  padding-top: 20px;
}

/*intro*/
.bg-ocean {
  background-image: url(/assets/images/background-img.png);
}
.intro {
  display: flex;
}
.w526 {
  max-width: 526px;
}
.title_3 {
  font-size: 24px;
  color: #ffffff;
}
.mb36 {
  margin-bottom: 36px;
}
.mb32 {
  margin-bottom: 32px;
}
.pt160 {
  padding-top: 160px;
}
.pb160 {
  padding-bottom: 160px;
}
/*about me*/
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  display: flex;
  flex-wrap: wrap;
}
.w-50 {
  width: 50%;
}
.card-item {
  width: 48%;
  padding: 16px;
  border: 1px solid #e3e3e3;
}
.title_4 {
  font-size: 20px;
}
.mt24 {
  margin-top: 24px;
}
.mb24 {
  margin-bottom: 24px;
}
.mb8 {
  margin-bottom: 8px;
}
.text-black {
  color: #000000;
}
/*contactme*/
.contactme {
  display: flex;
  justify-content: space-between;
}
.contactme-title {
  display: flex;
  align-items: center;
}
.mt96 {
  margin-top: 96px;
}
.mb96 {
  margin-bottom: 96px;
}
.mr13 {
  margin-right: 13px;
}
.mr20 {
  margin-right: 20px;
}
.logo a {
  display: inline-block;
  width: 162px;
  border-radius: 38px;
}
.logo a:hover {
  box-shadow: 0px 0px 16px 3px #9094ff;
}
/*project*/
.w746 {
  max-width: 746px;
}
.ml-auto {
  margin-left: auto;
}
.project-content {
  display: flex;
}
.project-content-main {
  display: flex;
}
.mb28 {
  margin-bottom: 28px;
}
.project-content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.seemore {
  display: flex;
}
.seemore .bg-black {
  background-color: #000;
}
.text-white {
  color: #ffffff;
}
.project-content-bottom {
  display: flex;
  justify-content: space-between;
}
.mb16 {
  margin-bottom: 16px;
}
/*footer*/
.text-center {
  text-align: center;
}
.pt40 {
  padding-top: 40px;
}
.pb40 {
  padding-bottom: 40px;
}